Phase1Dataset/dataset_folder/
Phase1Dataset/output/
Phase1Dataset/detection/
Phase1Dataset/phase_1_eval_dataset/
Phase1Dataset/phase_1_eval_dataset_enc.zip
extra_images/
Phase1Dataset/phase_1_eval_dataset_enc/